*{
	font-family: sans-serif;
	color:blue;
	box-sizing: border-box;
    background-color:antiquewhite;
}

label, input, select, option, p{
	font-size:16px;
}

nav{
	padding:10px;
	background: darkblue;
}

nav h1{
	display: inline-block;
	color: white;
    background-color: darkblue;

}

nav ul{
	display: inline-block;
    float: right;
    background:darkblue;
 }

nav li{
	list-style: none;
	display: inline-block;

}

nav a{
	display:block;
   	padding:10px;
    background:white;
	border-radius: 50px;
	text-decoration: bold;
	color:black;
    float: right;
    border-color: darkblue;
  }

table{
	border: 1px #000 solid;
	padding:5px;
	margin:0 auto;
	width:90%;
}

table td{
	border: 1px #ddd solid;
	padding:10px;

}

nav a:hover{
	background:yellow;
}

footer {
	text-align: center;
}

footer a{
	text-decoration: none;
	color:#000;
	padding:10px;
}